[
  {estatist, [
			   {metrics, [
						  {online_counter, var, [counter]},
						  {connects,       var, [meter]},
                          {game_requests,  tbl, [histogram, meter]},
						  {player_load,    var, [{meter, [{tick, 1000}]}, {histogram, [{size, 1000}]}]},
						  {player_save,    var, [meter, histogram]}
						 ]},
			   {modules, [
                          {meter, estatist_module_meter}
                         ]}
			  ]
  }
].
