{deps, [
  {'basho_metrics', ".*", {git, "https://github.com/petrkozorezov/basho_metrics.git", "master"}},
  {edown,           ".*", {git, "git://github.com/esl/edown.git", {tag, "0.3.0"}}}
]}.

%%{cover_enabled, true}.
%%{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
%%{erl_opts, [debug_info]}.
%%{erl_opts, [warn_missing_spec]}.

{edoc_opts, [{doclet, edown_doclet},
             {top_level_readme, {"./README.md", "https://github.com/petrkozorezov/estatist"}}]}.
